
    <div class="container">
        <div class="form-group">
            <div class="" style="margin:20px;">
               <h1>Time Manager</h1>
            </div>      
        </div>
    </div>
    

    <div class="container">
        <form action="http://localhost:5000/many_put" method="POST">
            <div class="form-group" style="margin-bottom: 30px">
                <label for="exampleFormControlInput1" style="font-size: x-large">날짜 입력</label>
                <input type="text" name='day' style="float: none; width:20%; margin : 0 auto;" class="form-control col-lg-3 col-md-5 col-sm-6 col-xs-1 centered" id="exampleFormControlInput1" style="margin:0 0 80 80;">
            </div>
            <hr style="width:50%; ">
            <div class="form-group" style="margin:20px">
                <label for="exampleFormControlTextarea1" style="font-size: x-large; ">시간표 입력</label>
                <textarea rows="14" class="form-control textarea-autosize col-lg-3 col-md-5 col-sm-6 col-xs-1 centered" style="float: none; margin: 0 auto; width:50%;" name='time_text' id="exampleFormControlTextarea1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">전송</button>

        </form>
    </div>
</body>

</html>