
    
    <div class="container">
        <div class="form-group" style="margin:20px;">
           <h1>showdata</h1>
        </div>      
    </div>
    <div class="container">

        <form action="http://localhost:5000/show_time_table" method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1" style="font-size: x-large">날짜 입력</label>
                <input type='text' name='day' class="form-control" id="exampleFormControlInput1" style="float: none; width:20%; margin : 0 auto;">
            </div>
            <button style="margin:10px 0px 10px 0px;" name='day' type="submit" class="btn btn-primary" style="float: none; width:20%; margin : 0 auto;">시간표</button>
        </form>
        <hr style="width:50%;">

        <form action="http://localhost:5000/get_total_recode_data" method="POST">
            <button style="margin:10px 0px 10px 0px;" style="float: none; width:20%; margin : 0 auto;" type="submit" class="btn btn-primary ">모든 정보 보기</button>
        </form>
        <hr style="width:50%;">

        <form action="http://localhost:5000/get_recode_data" method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1" style="font-size: x-large">날짜 입력</label>
                <input type='text' name='day' class="form-control" id="exampleFormControlInput1" style="float: none; width:20%; margin : 0 auto;">
            </div>
            <button style="margin:10px 0px 0px 0px;" type="submit" class="btn btn-primary" style="float: none; width:20%; margin : 0 auto;">입력정보</button>
        </form>
    </div>


</body>

</html>