
    <style>


        .A {
            background-color: #003087;
            color:white;
            border-right:#000000
            border-left:#FFFFFF
            border-top:#003087
            border-bottom:#003087

        }
        .B {
            background-color: #005eb8;
            color:white;
        }
        .C {
            background-color: #0072ce;
            color:white;
        }
        .D {
            background-color:#41b6e6;
            color:white;
        }
        .E {
            background-color:#00a9ce;
            color:white;
        }
        .F {
            background-color:#77aaff;
            color:white;
        }
        .G {
            background-color:#99ccff;
            color:white;
        }
        .H {
            background-color:#bbeeff;
            color:white;
        }
        .I {
            background-color:#5588ff;
            color:white;
        }
        .J {
            background-color:#3366ff;
            color:white;
        }

        .a {
            background-color: #F66D0C;
            color:black;
        }
        .b {
            background-color: #D47B0B;
            color:black;
        }
        .c {
            background-color: #EB9B00;
            color:black;
        }
        .d {
            background-color: #D4A50B;
            color:black;
        }
        .e {
            background-color: #F6D70C;
            color:black;
        }
        .f {
            background-color: #F54700;
            color:black;
        }
        .g {
            background-color: #D42F0B;
            color:black;
        }
        .h {
            background-color: #EB0F00;
            color:black;
        }

        .empty {
            background-color: #E0E3DA;
            color:white;
        }



    </style>



<!-- html back
            </tbody>
        </table>
    </body>
</html> -->
