<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Time table 입니다</h1>
        <table>
            <thead>
                <tr>
                    <th>*</th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
                </tr>
            </thead>
            <tbody>
                <tr><th>00</tr></th><tr><th>01</tr></th><tr><th>02</tr></th><tr><th>03</tr></th><tr><th>04</tr></th><tr><th>05</tr></th><tr><th>06</tr></th><tr><th>07</tr></th><tr><th>08</tr></th><tr><th>09</tr></th><tr><th>10</tr></th><tr><th>11</tr></th><tr><th>12</tr></th><tr><th>13</tr></th><tr><th>14</tr></th><tr><th>15</tr></th><tr><th>16</tr></th><tr><th>17</tr></th><tr><th>18</tr></th><tr><th>19</tr></th><tr><th>20</tr></th><tr><th>21</tr></th><tr><th>22</tr></th><tr><th>23</tr></th>
            </tbody>
        </table>
    </body>
</html>